In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data_path = '../data/'
cpu_data = 'cpu.csv'
pd1 = pd.read_csv(data_path + cpu_data, dtype=str)
pd1['name'] = pd1['name'].str.lower()

FileNotFoundError: [Errno 2] No such file or directory: 'data/cpu.csv'

In [ ]:
# Ranking: extract number
rank = pd1['Ranking'].str.extract(r'(\d+)').astype(float)
rank.rename(columns={0: 'Ranking'}, inplace=True)
rank

     Ranking
0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
..       ...
251    252.0
252    253.0
253    254.0
254    255.0
255    256.0

[256 rows x 1 columns]

In [ ]:
# CPU frequency: extract number, include base and max
freq = pd1['Base / Max CPU frequency'].str.extract(r'(\d+\.\d+)\s-\s(\d+\.\d+)').astype(float)
freq.rename(columns={0: 'Base CPU freq', 1: 'Max CPU freq'}, inplace=True)
freq

     Base CPU freq  Max CPU freq
0              2.5          5.45
1              2.4          5.20
2              2.3          5.40
3              1.6          5.60
4              1.6          5.80
..             ...           ...
251            2.3          3.20
252            1.1          2.80
253            1.1          2.80
254            1.1          2.40
255            1.5          2.20

[256 rows x 2 columns]

In [ ]:
# Core/Thread: extract number, include core and thread
core_thread = pd1['Cores / Threads'].str.extract(r'(\d+)\s/\s(\d+)').astype(float)
core_thread.rename(columns={0: 'Cores', 1: 'Threads'}, inplace=True)
core_thread

     Cores  Threads
0     16.0     32.0
1     12.0     24.0
2     16.0     32.0
3     24.0     32.0
4     24.0     32.0
..     ...      ...
251    2.0      2.0
252    2.0      2.0
253    4.0      4.0
254    2.0      2.0
255    2.0      2.0

[256 rows x 2 columns]

In [ ]:
# Power consumption: extract number
power = pd1['TDP'].str.extract(r'(\d+)').astype(float)
power.rename(columns={0: 'TDP'}, inplace=True)
power

      TDP
0    55.0
1    55.0
2    55.0
3    55.0
4    55.0
..    ...
251  15.0
252   6.0
253   6.0
254   6.0
255   6.0

[256 rows x 1 columns]

In [ ]:
# Max operating temperature: extract number
temp = pd1['Max. operating temperature'].str.extract(r'(\d+)').astype(float)
temp.rename(columns={0: 'Max operating temperature'}, inplace=True)
temp

     Max operating temperature
0                        100.0
1                        100.0
2                         89.0
3                        100.0
4                        100.0
..                         ...
251                       95.0
252                      105.0
253                      100.0
254                      105.0
255                       90.0

[256 rows x 1 columns]

In [ ]:
# Release quarter: extract number as convention: Q1 2024 = 2024.00, Q2 2024 = 2024.25, ...
release = pd1['Released'].str.extract(r'(\d+)\s(\d+)').astype(float)
release = release[1] + (release[0] - 1) / 4
release = pd.DataFrame(release)
release.rename(columns={0: 'Released'}, inplace=True)
release

     Released
0      2023.0
1      2024.0
2      2023.5
3      2023.0
4      2024.0
..        ...
251    2020.0
252    2019.5
253    2021.0
254    2016.5
255       NaN

[256 rows x 1 columns]

In [ ]:
# Core architecture: ohe later, for now leave it as it is
arch = pd1['Core / Architecture']
arch

0             Zen 4 / Dragon Range
1      AMD Dragon Range-HX / Zen 4
2          Dragon Range-HX / Zen 4
3                   Raptor Lake-HX
4           Raptor Lake-HX Refresh
                  ...
251                            Zen
252            Gemini Lake Refresh
253                    Jasper Lake
254                    Apollo Lake
255                   Stoney Ridge
Name: Core / Architecture, Length: 256, dtype: object

In [ ]:
# Lithography: extract number
litho = pd1['Lithography'].str.extract(r'(\d+)').astype(float)
litho.rename(columns={0: 'Lithography'}, inplace=True)
litho

     Lithography
0            5.0
1            5.0
2            5.0
3           10.0
4           10.0
..           ...
251         14.0
252         14.0
253         10.0
254         14.0
255         28.0

[256 rows x 1 columns]

In [ ]:
# Official website: get the main producer from the link
website = pd1['Official website'].str.extract(r'\w+?\.?(\w+)\.com')
website.rename(columns={0: 'Official website'}, inplace=True)
website

    Official website
0                amd
1                amd
2                amd
3              intel
4              intel
..               ...
251              amd
252            intel
253              NaN
254            intel
255              NaN

[256 rows x 1 columns]

In [ ]:
# Max GPU frequency: extract number
gpu_freq = pd1['Max. GPU frequency'].str.extract(r'(\d+)').astype(float)
gpu_freq.rename(columns={0: 'Max GPU frequency'}, inplace=True)
gpu_freq

     Max GPU frequency
0               2200.0
1               2200.0
2               2200.0
3               1650.0
4                  NaN
..                 ...
251             1100.0
252              650.0
253              800.0
254              650.0
255                NaN

[256 rows x 1 columns]

In [ ]:
# RAM type: DDR?
ram_type = pd1['Memory Type'].astype(str)
res = ram_type.str.extract(r'(DDR\d+)')
ram_type = res.rename(columns={0: 'Memory Type'})
ram_type

    Memory Type
0          DDR5
1          DDR5
2          DDR5
3          DDR5
4          DDR4
..          ...
251         NaN
252        DDR4
253        DDR4
254        DDR3
255        DDR4

[256 rows x 1 columns]

In [ ]:
# Max RAM: extract number
mram = pd1['Max Memory'].str.extract(r'(\d+)').astype(float)
mram.rename(columns={0: 'Max RAM'}, inplace=True)
mram

     Max RAM
0       64.0
1       64.0
2       64.0
3      128.0
4      192.0
..       ...
251      NaN
252      8.0
253     32.0
254      8.0
255      NaN

[256 rows x 1 columns]

In [ ]:
# Integrated GPU: ohe later, for now leave it as it is
igpu = pd1['Integrated GPU']
igpu

0                             AMD Radeon 610M
1                             AMD Radeon 610M
2                             AMD Radeon 610M
3                      Intel UHD Graphics 770
4                                         NaN
                        ...
251                      AMD Radeon RX Vega 3
252                    Intel UHD Graphics 600
253    Intel UHD Graphics (Jasper Lake 24 EU)
254       Intel HD Graphics 500 (Apollo Lake)
255                     AMD Radeon R3 (Beema)
Name: Integrated GPU, Length: 256, dtype: object

In [ ]:
# Base GPU frequency: extract number
bgpu_freq = pd1['Base GPU frequency'].str.extract(r'(\d+)').astype(float)
bgpu_freq.rename(columns={0: 'Base GPU frequency'}, inplace=True)
bgpu_freq

     Base GPU frequency
0                   NaN
1                 400.0
2                 400.0
3                   NaN
4                   NaN
..                  ...
251                 NaN
252               200.0
253               350.0
254               200.0
255                 NaN

[256 rows x 1 columns]

In [ ]:
# LL cache: extract number
llcache = pd1['LL cache'].str.extract(r'(\d+)').astype(float)
llcache.rename(columns={0: 'LL Cache'}, inplace=True)
llcache

     LL Cache
0     81920.0
1     65536.0
2    131072.0
3        36.0
4        36.0
..        ...
251    4096.0
252    4096.0
253    4096.0
254    2048.0
255    1024.0

[256 rows x 1 columns]

In [ ]:
# AI performance: extract number from base and total
ai_base = pd1['NPU AI Performance'].str.extract(r'(\d+)').astype(float)
ai_total = pd1['Total AI Performance'].str.extract(r'(\d+)').astype(float)
total = pd.concat([ai_base, ai_total], axis=1)
total = total.max(axis=1)
total = pd.DataFrame(total)
total.rename(columns={0: 'AI Performance'}, inplace=True)
total

     AI Performance
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
..              ...
251             NaN
252             NaN
253             NaN
254             NaN
255             NaN

[256 rows x 1 columns]

In [ ]:
essentials = pd1[['cpu_link', 'name']]
cols = [essentials, rank, freq, core_thread, power, temp, release, arch, litho, website, gpu_freq, ram_type, mram, igpu, bgpu_freq, llcache, total]

pd_out = pd.concat(cols, axis=1)
pd_out

,cpu_link,name,Ranking,Base CPU freq,Max CPU freq,Cores,Threads,TDP,Max operating temperature,Released,Core / Architecture,Lithography,Official website,Max GPU frequency,Memory Type,Max RAM,Integrated GPU,Base GPU frequency,LL Cache,AI Performance
0,https://laptopmedia.com/processor/amd-ryzen-9-...,amd ryzen 9 7945hx,1.0,2.5,5.45,16.0,32.0,55.0,100.0,2023.0,Zen 4 / Dragon Range,5.0,amd,2200.0,DDR5,64.0,AMD Radeon 610M,NaN,81920.0,NaN
1,https://laptopmedia.com/processor/amd-ryzen-9-...,amd ryzen 9 7940hx,2.0,2.4,5.20,12.0,24.0,55.0,100.0,2024.0,AMD Dragon Range-HX / Zen 4,5.0,amd,2200.0,DDR5,64.0,AMD Radeon 610M,400.0,65536.0,NaN
2,https://laptopmedia.com/processor/amd-ryzen-9-...,amd ryzen 9 7945hx3d,3.0,2.3,5.40,16.0,32.0,55.0,89.0,2023.5,Dragon Range-HX / Zen 4,5.0,amd,2200.0,DDR5,64.0,AMD Radeon 610M,400.0,131072.0,NaN
3,https://laptopmedia.com/processor/intel-core-i...,intel core i9-13980hx,4.0,1.6,5.60,24.0,32.0,55.0,100.0,2023.0,Raptor Lake-HX,10.0,intel,1650.0,DDR5,128.0,Intel UHD Graphics 770,NaN,36.0,NaN
4,https://laptopmedia.com/processor/intel-core-i...,intel core i9-14900hx,5.0,1.6,5.80,24.0,32.0,55.0,100.0,2024.0,Raptor Lake-HX Refresh,10.0,intel,NaN,DDR4,192.0,NaN,NaN,36.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,https://laptopmedia.com/processor/amd-athlon-s...,amd athlon silver 3050u,252.0,2.3,3.20,2.0,2.0,15.0,95.0,2020.0,Zen,14.0,amd,1100.0,NaN,NaN,AMD Radeon RX Vega 3,NaN,4096.0,NaN
252,https://laptopmedia.com/processor/intel-celero...,intel celeron n4020,253.0,1.1,2.80,2.0,2.0,6.0,105.0,2019.5,Gemini Lake Refresh,14.0,intel,650.0,DDR4,8.0,Intel UHD Graphics 600,200.0,4096.0,NaN
253,https://laptopmedia.com/processor/intel-celero...,intel celeron n5100,254.0,1.1,2.80,4.0,4.0,6.0,100.0,2021.0,Jasper Lake,10.0,NaN,800.0,DDR4,32.0,Intel UHD Graphics (Jasper Lake 24 EU),350.0,4096.0,NaN
254,https://laptopmedia.com/processor/intel-celero...,intel celeron n3350,255.0,1.1,2.40,2.0,2.0,6.0,105.0,2016.5,Apollo Lake,14.0,intel,650.0,DDR3,8.0,Intel HD Graphics 500 (Apollo Lake),200.0,2048.0,NaN
255,https://laptopmedia.com/processor/amd-a4-9120e/,amd a4-9120e,256.0,1.5,2.20,2.0,2.0,6.0,90.0,NaN,Stoney Ridge,28.0,NaN,NaN,DDR4,NaN,AMD Radeon R3 (Beema),NaN,1024.0,NaN

In [ ]:
pd_out.to_csv(data_path + 'cpu_cleaned.csv', index=False)